{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block primary %}

    <div id="page-meta" class="container">

        <!-- TITLE -->
        <div class="title">
            <h1>Change Password</h1>
        </div>

        <!-- BREDCRUMB -->
        <div class="breadcrumbs">
            <p id="yit-breadcrumb" itemprop="breadcrumb">
                <a class="home" href="/">Home</a> &gt;
                <a class="no-link current" href="#">Change Password</a>
            </p>
        </div>
    </div>
    <!-- END PAGE META -->
{% endblock %}
{% block content %}
    <div class="page type-page status-publish hentry group">
        <div class="tabs-container">
            <ul class="tabs">
                <li><h4><a href="#tab1" title="Change_Username"><i class="icon-group" style="color:#000;font-size:20px;width:20px;height:20px"></i> Ganti Password</a></h4></li>
            </ul>

            <div class="border-box group">
                <div id="tab1" class="panel group">
    <div align="center"><h2>Silahkan isi form berikut untuk mengganti password anda</h2></div><br>
    <form method='post' action=''>{% csrf_token %}
        <table>
            {{ form }}
            <tr><td></td><td><input type='submit' value="{% trans "Change password" %}" /></td></tr>
        </table>
    </form>
    </div></div></div></div>
{% endblock %}
{% block sidebar %}
    {% include "includes/sidebaraccounts.html" %}
{% endblock %}
