{%extends 'templatesproc/base_staff.html'%}
{%block title%}Home Staff | IGLAS Procurement{%endblock%}
{%block uname%}<font color="#2081da">{{uname}}</font>{%endblock%}
{%block content%}
	<p>
		<h3>Selamat Datang di E-Procurement PT IGLAS (Persero) untuk Staff Departemen</h3>
		Disini control panel untuk membuat Requisition yang terdiri dari:<br>
		1. Pembuatan RKB (Rencana Kebutuhan Barang), Setiap bulannya terakhir tanggal 7 pengumpulan<br>
		2. Pembuatan PP (Permintaan Pembelian), Ter-generate dari RKB yang sudah di lock,<br>
		&nbsp&nbsp&nbsp Disini Anda bertugas untuk merevisi PP sampai mendapat persetujuan dari Pengendali<br>
		3. Pembuatan RO (Rush Order), Setiap bulan RO dapat dibuat setelah PP disetujui,<br>
		&nbsp&nbsp&nbsp Proses pembuatan RO memerlukan persetujuan dari pengendali seperti halnya PP<br>
		Selamat Membuat Perencanaan...
	</p>
{%endblock%}