{% extends 'templatesproc/base_staff.html' %}
{% block extra %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
{%endblock%}
{%block title%}Masukkan data | RKB{%endblock%}
{%block uname%}{{uname}}{%endblock%}
	{%block content%}
	<h3>Masukkan Data {{data}}</h3>
	<hr>
		
        <form action={{action}} method="POST">{% csrf_token %}
			<table>
				<tr>
					<td>{{form}}</td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</table>
		</form>
		
	{%endblock%}