{% extends 'templatesproc/base.html' %}
{%block title%}Success | IGLAS Procurement{%endblock%}
{%block meta%}<meta http-equiv="refresh" content="3;/internal/">{%endblock%}
{% block content %}
<p align="center">
	<font color="blue">Operation Failed</font>
	<br>Menu RKB belum dapat diakses dikarenakan budget belanja untuk departemen anda belum diinputkan.
	<br><a href="/internal/" style="text-decoration:none">< -- Klik untuk kembali ke Control Panel jika tidak otomatis redirect</a>
<p>
{% endblock %}