{% load i18n %}

{% block bodyclass %}<a href="/" >Home</a> | Login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<br>
<br>
<div id="content-main">
    <form action="{{login_user}}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">Username: </label> <input type="text" name="username" id="id_username" />
  </div>
  <br>
  <div class="form-row">
    <label for="id_password">Password: </label> <input type="password" name="password" id="id_password" />
  </div>
  <br>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log In" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
