<div class="row box-title">
    <div class="span5">
        <div class="border-line"></div>
    </div>

    <h3 class="span2">Statistik Kinerja</h3>

    <div class="span5">
        <div class="border-line"></div>
    </div>
</div>


<div class="one-fourth ">
    <div class="random-numbers">
        <img src="/media/static/images/110.jpg" alt="" width="52" height="52"/>

        <p>satisfied customers</p>
        <span class="number">1590</span>
    </div>
</div>

<div class="one-fourth ">
    <div class="random-numbers">
        <img src="/media/static/images/25.jpg" alt="" width="52" height="52"/>

        <p>Freelance projects</p>
        <span class="number">65</span>
    </div>
</div>

<div class="one-fourth ">
    <div class="random-numbers">
        <img src="/media/static/images/31.jpg" alt="" width="52" height="52"/>

        <p>sales on themeforest</p>
        <span class="number">12.845</span>
    </div>
</div>

<div class="one-fourth last">
    <div class="random-numbers">
        <img src="/media/static/images/41.jpg" alt="" width="52" height="52"/>

        <p>...Weekly Coffee!</p>
        <span class="number">36</span>
    </div>
</div>