<div class="extra-content group span12">
    <div class="border-line"></div>

    <div class="one-fourth ">
        <h3>Creative design</h3>

        <p>
            <img class="size-full wp-image-817 aligncenter" title="design" src="/media/static/images/bottle.jpg"
                 alt="" width="165" height="180" />
        </p>

        <p>Pemilihan design botol yang variatif untuk berbagai kriteria botol, baik botol generic maupun botol paten dari customer.</p>
    </div>

    <div class="one-fourth ">
        <h3>Sales Statistics</h3>

        <p>
            <a href="images/shortcodes.png">
                <img class="alignleft size-full wp-image-819" title="shortcodes"
                     src="/media/static/images/shortcodes.png" alt="" width="220" height="131"/>
            </a>
        </p>

        <p>Sistem penjualan yang sesuai dengan standar semakin menunjang keberhasilan mitra kerja sama</p>
    </div>

    <div class="one-fourth ">
        <h3>Analytic System </h3>

        <p>
            <a href="images/celestino.png">
                <img class="size-full wp-image-823 aligncenter" title="celestino"
                     src="/media/static/images/celestino.png" alt="" width="220" height="131"/>
            </a>
        </p>

        <p>Penggunaan sistem komputerisasi yang terintegritas untuk membantu pelayanan kepada customer.</p>
    </div>

    <div class="one-fourth last">
        <h3>More colors</h3>

        <p>
            <img class="aligncenter size-full wp-image-828" title="morecolors"
                 src="/media/static/images/bottle2.jpg" alt="" height="160"/>
        </p>

        <p>Pemilihan warna yang lebih variatif daripada produsen lain, serta kualitas warna yang luar biasa.</p>
    </div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
</div>