<!-- START CONTENT -->
<div id="content-home" class="span12 content group">
<div class="page type-page status-publish hentry group">

<script>
    jQuery(document).ready(function ($) {
        $('.sidebar').remove();

        if (!$('#primary').hasClass('sidebar-no')) {
            $('#primary').removeClass().addClass('sidebar-no');
            $('.content').removeClass('span9').addClass('span12');
        }

    });
</script>

<div class="row">
<ul id="portfolio" class="slide-detail detail thumbnails">


<li class="filterable_item span3 brandidentity  logodesign  webdesign  first">

    <div class="ch-item ch-item-hover"
         style="background: url('/media/static/images/portfolios/001-260x172.jpg') no-repeat center;">

        <div class="ch-info">
            <div class="ch-info-icons">
                <a href="/media/static/images/portfolios/001.jpg" rel="lightbox" class="ch-info-lightbox">
                    <img src="/media/static/images/icons/zoom.png" alt="Open Lightbox"/>
                </a>
                <a href="portfolios/portfolio-detail/?cpt_item=bob-miller" class="open_slide">
                    <img src="/media/static/images/icons/project.png" alt=""/>
                </a>
            </div>


            <div class="ch-info-text">
                <p class="title">Bob Miller</p>

                <p class="subtitle">Photoshop</p>
            </div>
        </div>
    </div>

    <div class="slide_detail">
        <div class="container portfolio-full-description">
            <div class="slide_close">[x] Close</div>
            <div class="page type-page status-publish hentry work group row">
                <div class="work-thumbnail span6">
                    <div class="thumb-wrapper">

                        <div class="extra-images-slider">
                            <ul class="slides">
                                <li>
                                    <img width="574" height="340" src="/media/static/images/portfolios/001-574x340.jpg"
                                         class="attachment-thumb_portfolio_fulldesc" alt="001"/>
                                </li>
                                <li>
                                    <img width="574" height="340" src="/media/static/images/portfolios/001-574x340.jpg"
                                         class="attachment-thumb_portfolio_fulldesc" alt="001"/>
                                </li>
                                <li>
                                    <img width="574" height="340" src="/media/static/images/portfolios/0062-574x340.jpg"
                                         class="attachment-thumb_portfolio_fulldesc" alt="006"/>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                $('.extra-images-slider').flexslider({
                                    controlNav: false
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="work-description span6">
                    <h3>Bob Miller</h3>

                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                        et ipsum. Donec dapibus lacus nec sapien faucibus eget suscipit lorem mattis.<!--more--></p>

                    <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque. Maecenas aliquet, diam sed
                        rhoncus vestibulum,<strong> sem lacus ultrice</strong>s est, eu hendrerit tortor nulla in dui.
                        Suspendisse enim purus, euismod interdum viverra eget, ultricies eu est. Maecenas dignissim
                        mauris id est semper suscipit. Suspendisse venenatis vestibulum quam, quis porttitor arcu
                        vestibulum et. Sed
                        <a href="http://yourinspirationweb.com/demo/sheeva/work/xmas-icons/#">porttitor eros</a>
                        ut purus elementum a consectetur purus vulputate
                    </p>

                    <div class="work-skillsdate span6">
                        <p class="categories paragraph-links">
                            <span class="meta-label">Project:</span> Photoshop, Illustrator
                        </p>

                        <p class="customer"><span class="meta-label">Customer:</span> Bob Miller </p>

                        <p class="workdate"><span class="meta-label">Year:</span> 2012</p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</li>

<li class="filterable_item span3 brandidentity  logodesign ">

    <div class="ch-item ch-item-hover"
         style="background: url('/media/static/images/blog/0023-260x172.jpg') no-repeat center;">

        <div class="ch-info">
            <div class="ch-info-icons">
                <a href="/media/static/images/blog/0023.jpg" rel="lightbox" class="ch-info-lightbox">
                    <img src="/media/static/images/icons/zoom.png" alt="Open Lightbox"/>
                </a>
                <a href="portfolios/portfolio-detail/?cpt_item=vitale-premium" class="open_slide">
                    <img src="/media/static/images/icons/project.png" alt=""/>
                </a>
            </div>

            <div class="ch-info-text">
                <p class="title">Vitale Premium</p>

                <p class="subtitle">Illustrator</p>
            </div>
        </div>
    </div>

    <div class="slide_detail">
        <div class="container portfolio-full-description">
            <div class="slide_close">[x] Close</div>
            <div class="page type-page status-publish hentry work group row">
                <div class="work-thumbnail span6">
                    <div class="thumb-wrapper">
                        <a class="thumb">
                            <img width="574" height="340" src="/media/static/images/portfolios/0023-574x340.jpg"
                                 class="attachment-thumb_portfolio_fulldesc" alt="002"/>
                        </a>
                    </div>
                </div>

                <div class="work-description span6">
                    <h3>Vitale Premium</h3>

                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                        et ipsum. Donec dapibus lacus nec sapien faucibus eget suscipit lorem mattis.</p>

                    <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque. Maecenas aliquet, diam sed
                        rhoncus vestibulum,<strong> sem lacus ultrice</strong>s est, eu hendrerit tortor nulla in dui.
                        Suspendisse enim purus, euismod interdum viverra eget, ultricies eu est. Maecenas dignissim
                        mauris id est semper suscipit. Suspendisse venenatis vestibulum quam, quis porttitor arcu
                        vestibulum et.</p>

                    <p>Sed <a href="http://yourinspirationweb.com/demo/sheeva/work/xmas-icons/#">porttitor eros</a>ut
                        purus elementum a consectetur purus vulputate</p>

                    <div class="work-skillsdate span6">
                        <p class="categories paragraph-links">
                            <span class="meta-label">Project:</span> Brand Identity, Web Design
                        </p>

                        <p class="customer">
                            <span class="meta-label">Customer:</span> Vitale Premium - <a href="http://vitale.com">vitale.com</a>
                        </p>

                        <p class="workdate"><span class="meta-label">Year:</span> 2002</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</li>


<li class="filterable_item span3 brandidentity  logodesign ">

    <div class="ch-item ch-item-hover"
         style="background: url('/media/static/images/portfolios/00311-260x172.jpg') no-repeat center;">

        <div class="ch-info">
            <div class="ch-info-icons">
                <a href="/media/static/images/portfolios/0037.jpg" rel="lightbox" class="ch-info-lightbox">
                    <img src="/media/static/images/icons/zoom.png" alt="Open Lightbox"/>
                </a>
                <a href="portfolios/portfolio-detail/?cpt_item=nili-studios" class="open_slide">
                    <img src="/media/static/images/icons/project.png" alt=""/>
                </a>
            </div>


            <div class="ch-info-text">
                <p class="title">Nili Studios</p>

                <p class="subtitle">Photoshop</p>
            </div>
        </div>
    </div>

    <div class="slide_detail" style="background-color: #f1f4f5;">
        <div class="container portfolio-full-description">
            <div class="slide_close">[x] Close</div>
            <div class="page type-page status-publish hentry work group row">
                <div class="work-thumbnail span6">
                    <div class="thumb-wrapper">


                        <a class="thumb">
                            <img width="574" height="340" src="/media/static/images/portfolios/0034-574x340.jpg"
                                 class="attachment-thumb_portfolio_fulldesc" alt="003"/>
                        </a>
                    </div>
                </div>

                <div class="work-description span6">
                    <h3>Nili Studios</h3>

                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                        et ipsum. Donec dapibus lacus nec sapien faucibus eget suscipit lorem mattis.</p>

                    <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque. Maecenas aliquet, diam sed
                        rhoncus vestibulum,<strong> sem lacus ultrice</strong>s est, eu hendrerit tortor nulla in dui.
                        Suspendisse enim purus, euismod interdum viverra eget, ultricies eu est. Maecenas dignissim
                        mauris id est semper suscipit. Suspendisse venenatis vestibulum quam, quis porttitor arcu
                        vestibulum et.</p>

                    <p>Sed <a href="http://yourinspirationweb.com/demo/sheeva/work/xmas-icons/#">porttitor eros</a>ut
                        purus elementum a consectetur purus vulputate</p>

                    <div class="work-skillsdate span6">
                        <p class="categories paragraph-links"><span class="meta-label">Project:</span> Photoshop,
                            InDesign</p>

                        <p class="customer"><span class="meta-label">Customer:</span> Nili Studios </p>

                        <p class="workdate"><span class="meta-label">Year:</span> 2008</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</li>

<li class="filterable_item span3 webdesign ">

    <div class="ch-item ch-item-hover"
         style="background: url('/media/static/images/portfolios/0047-260x172.jpg') no-repeat center;">

        <div class="ch-info">
            <div class="ch-info-icons">
                <a href="/media/static/images/portfolios/0411.jpg" rel="lightbox" class="ch-info-lightbox">
                    <img src="/media/static/images/icons/zoom.png" alt="Open Lightbox"/>
                </a>
                <a href="portfolios/portfolio-detail/?cpt_item=digitpool-medien" class="open_slide">
                    <img src="/media/static/images/icons/project.png" alt=""/>
                </a>
            </div>


            <div class="ch-info-text">
                <p class="title">Digitpool Medien</p>

                <p class="subtitle">Brand identity</p>
            </div>
        </div>
    </div>

    <div class="slide_detail" style="background-color: #f1f4f5;">
        <div class="container portfolio-full-description">
            <div class="slide_close">[x] Close</div>
            <div class="page type-page status-publish hentry work group row">
                <div class="work-thumbnail span6">
                    <div class="thumb-wrapper">
                        <a class="thumb">
                            <img width="574" height="340" src="/media/static/images/portfolios/0043-574x340.jpg"
                                 class="attachment-thumb_portfolio_fulldesc" alt="004"/>
                        </a>
                    </div>
                </div>

                <div class="work-description span6">
                    <h3>Digitpool Medien</h3>

                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, at cursus urna nisl
                        et ipsum. Donec dapibus lacus nec sapien faucibus eget suscipit lorem mattis.</p>

                    <p>Donec non mauris ac nulla consectetur pretium sit amet rhoncus neque. Maecenas aliquet, diam sed
                        rhoncus vestibulum,<strong> sem lacus ultrice</strong>s est, eu hendrerit tortor nulla in dui.
                        Suspendisse enim purus, euismod interdum viverra eget, ultricies eu est. Maecenas dignissim
                        mauris id est semper suscipit. Suspendisse venenatis vestibulum quam, quis porttitor arcu
                        vestibulum et.</p>

                    <p>Sed <a href="http://yourinspirationweb.com/demo/sheeva/work/xmas-icons/#">porttitor eros</a>ut
                        purus elementum a consectetur purus vulputate</p>

                    <div class="work-skillsdate span6">
                        <p class="customer">
                            <span class="meta-label">Customer:</span> Digitpool Medien
                        </p>

                        <p class="workdate">
                            <span class="meta-label">Year:</span> 2009
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</li>
<hr/>
<hr/>
<hr/>
</ul>
</div>

<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function ($) {

        function isMobile() {
            return navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i) || ( navigator.userAgent.match(/Android/i) && navigator.userAgent.match(/Mobile/i) );
        }


        if (!isMobile()) {

            $('.open_slide').live('click', function (e) {
                e.preventDefault();

                var li_parent = $(this).parents('li');
                var div = li_parent.find('.slide_detail');
                if (!div.is(':visible')) {
                    $('.ch-item').removeClass('ch-item-opened');
                    li_parent.find('.ch-item').addClass('ch-item-opened');

                    var slide_opened = $('.slide_detail:visible').length;
                    var same_row = slide_opened && parseInt($('.slide_detail:visible').parents('li').index() / 5) == parseInt($(this).parents('li').index() / 5);
                    var description_height = div.find('.work-description').height();
                    console.log(div.find('.work-description'));

                    var animation = function (div, li_parent, same_row) {
                        $.Deferred(function (def) {
                            def.pipe(function () {
                                return $('ul#portfolio hr, .slide_detail').slideUp(500);
                            }).pipe(function () {
                                        var offset_y = li_parent.data('isotope-item-position') ?
                                                li_parent.data('isotope-item-position').y + li_parent.offset().top :
                                                li_parent.offset().top;

                                        return $.scrollTo(offset_y - 40, same_row ? 1 : 500, {'axis': 'y'});
                                    }).pipe(function () {
                                        return setTimeout(function () {
                                            var offset_x = li_parent.data('isotope-item-position') ?
                                                    li_parent.data('isotope-item-position').x + li_parent.offset().left :
                                                    li_parent.offset().left;

                                            div.css({
                                                left: -offset_x + $('#wrapper').offset().left,
                                                width: $('#wrapper').width()
                                            }).slideDown(500);
                                            $(li_parent).nextAll('hr:first').slideDown(500, function () {
                                                //recalculate left offset once the slide is opened
                                                var offset_x = li_parent.data('isotope-item-position') ?
                                                        li_parent.data('isotope-item-position').x + li_parent.offset().left :
                                                        li_parent.offset().left;
                                                div.css({
                                                    left: -offset_x + $('#wrapper').offset().left,
                                                    width: $('#wrapper').width(),
                                                    height: div.outerHeight()
                                                });

                                                $(this).css({
                                                    height: div.outerHeight()
                                                });

                                                div.find('.container').css({
                                                    height: div.outerHeight() - 35
                                                });
                                            });
                                        }, same_row ? 500 : 1000);
                                    });
                        }).resolve();
                    };
                    animation(div, li_parent, same_row);
                } else {
                    div.find('.slide_close').click();
                }
            });

            $('.slide_close').click(function () {
                $('.ch-item').removeClass('ch-item-opened');
                $(this).parents('.slide_detail').slideUp('slow');
                $('ul#portfolio hr').slideUp('slow');
            });

            $(window).resize(function () {
                if (!isIE8()) {
                    $('.ch-item').removeClass('ch-item-opened');
                    $('.slide_detail').slideUp('slow');
                    $('ul#portfolio hr').slideUp('slow');
                }
            });


        }
    });
</script>

<p>&nbsp;</p>

<p>
    {% block box %}
        {% include "includes/box.html" %}
    {% endblock %}
</div>
<!-- START COMMENTS -->
<div id="comments"></div>
<!-- END COMMENTS -->
</div>
<!-- END CONTENT -->