<div class="shadowWrapper">

<!-- START REVOLUTION SLIDER  -->
<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
     style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:400px;">
<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:400px;height:400;">
<ul>
<li data-transition="random" data-slotamount="7" data-masterspeed="300">
    <img src="/media/static/images/slider/1-bg.jpg">

    <div class="tp-caption lfb"
         data-x="30"
         data-y="50"
         data-speed="2000"
         data-start="300"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/iglas.png" alt="Image1" width="283px" height="283px">
    </div>

    <div class="tp-caption main_title lft"
         data-x="490"
         data-y="71"
         data-speed="1000"
         data-start="1500"
         data-easing="easeOutQuint">
        WELCOME.
    </div>

    <div class="tp-caption paragraph lfb"
         data-x="489"
         data-y="143"
         data-speed="1000"
         data-start="1800"
         data-easing="easeOutQuint">
        PT. IGLAS (Persero) Gresik, merupakan perusahaan BUMN yang bergerak di bidang
        <br/>
         pembuatan kemasan gelas, khususnya botol. Jadilah mitra kerja sama kami, <br>Kami siap memberikan yang terbaik bagi semua stakeholders.
    </div>

    <div class="tp-caption paragraph_highlighted lfr"
         data-x="490"
         data-y="250"
         data-speed="1000"
         data-start="2100"
         data-easing="easeOutQuint">
        "GELAS IGLAS LEBIH BERKUALITAS"
    </div>

    <div class="tp-caption lfb"
         data-x="494"
         data-y="313"
         data-speed="1200"
         data-start="2500"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l22.png" alt="Image 5">
    </div>

    <div class="tp-caption lft"
         data-x="587"
         data-y="306"
         data-speed="1200"
         data-start="3000"
         data-easing="easeOutBounce">
        <img src="/media/static/images/logo-slide.png" alt="Image 8">
    </div>

    <div class="tp-caption lfr"
         data-x="676"
         data-y="311"
         data-speed="1200"
         data-start="3400"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l4.png" alt="Image 9">
    </div>

    <div class="tp-caption lfl"
         data-x="786"
         data-y="316"
         data-speed="1200"
         data-start="3800"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l5.png" alt="Image 10">
    </div>

    <div class="tp-caption lft"
         data-x="858"
         data-y="298"
         data-speed="1200"
         data-start="4200"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l6.png" alt="Image 11">
    </div>

    <div class="tp-caption lfb"
         data-x="954"
         data-y="308"
         data-speed="1200"
         data-start="4600"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l7.png" alt="Image 12">
    </div>

    <div class="tp-caption lft"
         data-x="1051"
         data-y="329"
         data-speed="1200"
         data-start="5200"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/1-l8.png" alt="Image 13">
    </div>
</li>
<li data-transition="random" data-slotamount="7" data-masterspeed="300">
    <img src="/media/static/images/slider/2-bg.jpg" alt="2-bg">

    <div class="tp-caption main_title lfr"
         data-x="0"
         data-y="60"
         data-speed="1000"
         data-start="300"
         data-easing="easeOutQuint">
        CREATIVE <span style="font-family:'Dancing Script';font-weight:400;">&</span> <br/>
        MORE DESIGN
    </div>

    <div class="tp-caption paragraph lfb"
         data-x="0"
         data-y="194"
         data-speed="1000"
         data-start="700"
         data-easing="easeOutQuint">
        Menyediakan berbagai design botol generik. <br/>
        <b>Serta Optimalisasi hak paten design botol dari Customer.</b><br/>
        Silahkan pesan langsung dari website kami.
        </div>

    <div class="tp-caption paragraph lfb"
         data-x="0"
         data-y="300"
         data-speed="1200"
         data-start="3300"
         data-easing="easeOutQuint">
        <a href="/order/create_order"
           class="btn btn-xlarge  btn-mfast-3 ">Request Order</a>
    </div>

    <div class="tp-caption lft"
         data-x="640"
         data-y="50"
         data-speed="1000"
         data-start="1600"
         data-easing="easeOutQuint">
        <!--<img src="/media/static/images/slider/2-l1.png" alt="Image 4">-->
        <img src="/media/static/images/bott.jpg" alt="Image 4" width="400" height="390">
    </div>

    <div class="tp-caption lfb"
         data-x="548"
         data-y="150"
         data-speed="900"
         data-start="2000"
         data-easing="easeOutQuint">
        <!--<img src="/media/static/images/slider/2-l2.png" alt="Image 5">-->
        <img src="/media/static/images/slider/btl_beverages.png" alt="Image 5">
    </div>

    <div class="tp-caption lfl"
         data-x="960"
         data-y="150"
         data-speed="900"
         data-start="2400"
         data-easing="easeOutQuint">
        <!--<img src="/media/static/images/slider/2-l3.png" alt="Image 6">-->
        <img src="/media/static/images/slider/gbr_botol_parma.png" alt="Image 6">
    </div>
</li>
<li data-transition="random" data-slotamount="7" data-masterspeed="300">
    <img src="/media/static/images/slider/3-bg.jpg" alt="3-bg">

    <div class="tp-caption paragraph sft"
         data-x="0"
         data-y="10"
         data-speed="1000"
         data-start="300"
         data-easing="easeOutQuint">
        Kerja sama domestik dan internasional yang luas
    </div>

    <div class="tp-caption paragraph_highlighted sft"
         data-x="0"
         data-y="35"
         data-speed="1000"
         data-start="300"
         data-easing="easeOutQuint">
        Memberikan pelayanan yang terbaik kepada Kustomer.
    </div>

    <div class="tp-caption paragraph sfb"
         data-x="0"
         data-y="60"
         data-speed="1000"
         data-start="800"
         data-easing="easeOutQuint">
        Professional, Handal, Kreatif dan Kredibel dalam kerja sama
    </div>

    <div class="tp-caption paragraph_highlighted sfb"
         data-x="0"
         data-y="85"
         data-speed="1000"
         data-start="800"
         data-easing="easeOutQuint">
         Testimoni dari perusahaan-perusahaan terkemuka dunia, diantaranya:
    </div>

    <div class="tp-caption paragraph sft"
         data-x="0"
         data-y="110"
         data-speed="1000"
         data-start="1300"
         data-easing="easeOutQuint">
        PT. Orang Tua Tbk Indonesia
    </div>

    <div class="tp-caption paragraph_highlighted sft"
         data-x="0"
         data-y="135"
         data-speed="1000"
         data-start="1300"
         data-easing="easeOutQuint">
        PT. Coca Cola Company Philipines
    </div>

    <div class="tp-caption paragraph sfb"
         data-x="0"
         data-y="160"
         data-speed="1000"
         data-start="1800"
         data-easing="easeOutQuint">
        PT. Heinekken Beer Corp
    </div>

    <div class="tp-caption paragraph_highlighted sfb"
         data-x="0"
         data-y="185"
         data-speed="1000"
         data-start="1800"
         data-easing="easeOutQuint">
        PT. ABC Indofood Indonesia
    </div>

    <div class="tp-caption paragraph sft"
         data-x="0"
         data-y="210"
         data-speed="1000"
         data-start="2300"
         data-easing="easeOutQuint">
        PT. Kimia Farma Indonesia
    </div>

    <div class="tp-caption paragraph_highlighted sft"
         data-x="0"
         data-y="235"
         data-speed="1000"
         data-start="2300"
         data-easing="easeOutQuint">
        PT. Chang Industry Vietnam
    </div>

    <div class="tp-caption paragraph sfb"
         data-x="0"
         data-y="260"
         data-speed="1000"
         data-start="2800"
         data-easing="easeOutQuint">
        PT. KingBeer Corporation
    </div>

    <div class="tp-caption paragraph_highlighted sfb"
         data-x="0"
         data-y="285"
         data-speed="1000"
         data-start="2800"
         data-easing="easeOutQuint">
        PT. Pepsi Malaysia
    </div>

    <div class="tp-caption paragraph sft"
         data-x="0"
         data-y="310"
         data-speed="1000"
         data-start="3300"
         data-easing="easeOutQuint">
        <h3>Kami adalah jawaban untuk produksi botol masa depan</h3>
    </div>

    <div class="tp-caption lfl"
         data-x="1"
         data-y="356"
         data-speed="1000"
         data-start="4200"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/3-l3.png" alt="Image 14">
    </div>

    <div class="tp-caption lfr"
         data-x="465"
         data-y="10"
         data-speed="1000"
         data-start="4500"
         data-easing="easeOutQuint">
        <img src="/media/static/images/slider/3-l11.png" alt="Image 15">
    </div>

    <div class="tp-caption lfb"
         data-x="681"
         data-y="163"
         data-speed="1500"
         data-start="4500"
         data-easing="easeOutQuint">
        <!--img src="/media/static/images/slider/3-l2.png" alt="Image 16"-->
    </div>
</li>
</ul>
</div>
</div>

<script type="text/javascript">

    var tpj = jQuery;

    tpj.noConflict();

    var revapi1;

    tpj(document).ready(function () {

        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        if (tpj('#rev_slider_1_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_1_1');
        else
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
                    {
                        delay: 9000,
                        startwidth: 1170,
                        startheight: 400,
                        hideThumbs: 200,

                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 3,

                        navigationType: "none",
                        navigationArrows: "nexttobullets",
                        navigationStyle: "round",

                        touchenabled: "on",
                        onHoverStop: "off",

                        navOffsetHorizontal: 0,
                        navOffsetVertical: 20,

                        shadow: 0,
                        fullWidth: "on",

                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,

                        shuffle: "off",

                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0                    });

    });	//ready

</script>

<!-- END REVOLUTION SLIDER -->
</div>