<div class="container">
    <div class="row">
        <div class="left span6">

            <a href="# " class="socials-small facebook-small" title="Facebook">facebook</a>

            <a href="#" class="socials-small rss-small" title="Rss">rss</a>

            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>

            <a href="#" class="socials-small google-small" title="Google">google</a>

            <a href="#" class="socials-small linkedin-small" title="Linkedin">linkedin</a>

            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a>
        </div>
        <div class="right span6">
            <p>Developed by <a href="http://faridilham.wordpress.com">Solate '09</a> with <a
                    href="http://djangoproject.com">Django Framework</a> | Copyright © 2014 | PT. IGLAS Persero Gresik
            </p>
        </div>
    </div>
</div>