<div class="container">
    <div class="row">
        <div>
            <div class="widget-first widget span3 recent-posts">
                <h3>Berita Terkini</h3>

                <div class="recent-post">
                    <div class="post type-post status-publish format-gallery hentry category-web-design group">

                        <div class="date">
                            <span class="month">Oct</span>
                            <span class="day">8</span>
                        </div>

                        <div class="text">
                            <h3>
                                <a href="blog-detail.html" title="This is the title of the first article. Enjoy it.">
                                    This is the title of the first article. Enjoy it.
                                </a>
                            </h3>

                            <p>by
                                <a href="author-celestino.html" title="Posts by celestino" rel="author">
                                    celestino
                                </a> -

                                <a href="blog-detail.html#respond"
                                   title="Comment on This is the title of the first article. Enjoy it.">
                                    0 comments
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="post type-post status-publish format-standard hentry category-elegant-vintage group">

                        <div class="date">
                            <span class="month">Sep</span>
                            <span class="day">12</span>
                        </div>

                        <div class="text">
                            <h3>
                                <a href="#" title="Nice &amp; Clean. The best for your blog!">
                                    Nice &amp; Clean. The best for your blog!
                                </a>
                            </h3>

                            <p>by
                                <a href="#" title="Posts by celestino" rel="author">
                                    celestino
                                </a> -
                                <a href="#" title="Comment on Nice &amp; Clean. The best for your blog!">
                                    0 comments
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="widget span3 contact-info">
                <h3>Products</h3>

                <div class="sidebar-nav">
                    <ul>
                        <li class="nav-icon-color-small ">
                            <a href="/item/product_item/1">
                                Farmasi
                                <div style="position:absolute; left: 50%;">
                                    <span class="triangle">&nbsp;</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-icon-drink-small ">
                            <a href="/item/product_item/2">
                                Minuman Ringan
                                <div style="position:absolute; left: 50%;">
                                    <span class="triangle">&nbsp;</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-icon-first-small ">
                            <a href="/item/product_item/3">
                                Minuman Beralkohol
                                <div style="position:absolute; left: 50%;">
                                    <span class="triangle">&nbsp;</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-icon-lab-small ">
                            <a href="/item/product_item/4">
                                Jar dan Saus
                                <div style="position:absolute; left: 50%;">
                                    <span class="triangle">&nbsp;</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-icon-design-small ">
                            <a href="/item/product_item/5">
                                Kosmetik
                                <div style="position:absolute; left: 50%;">
                                    <span class="triangle">&nbsp;</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="widget span3 contact-info">
                <h3>Contact Us</h3>

                <div class="sidebar-nav">
                    <ul>
                        <li>
                            <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            <span>Address : Jl. Kapten Darmosugondho, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                Segoromadu Gresik 61153</span>
                        </li>
                        <li>
                            <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            <span>Mobile &nbsp&nbsp: +6231-3974484</span>
                        </li>
                        <li>
                            <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            <span>Fax &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: +6231-3974483</span>
                        </li>
                        <li>
                            <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                            <span>Email &nbsp&nbsp&nbsp: <a
                                    href="mailto:iglas031@rad.net.id">iglas031@rad.net.id</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="last-tweets-2" class=" widget span3 last-tweets">
                <h3>Last Tweets</h3>

                <div class="list-tweets-2">

                </div>

                <script type="text/javascript">
                    jQuery(function ($) {
                        $('#last-tweets-2 .list-tweets-2').tweetable({
                            listClass: 'tweets-widget-2',
                            username: 'fariel10',
                            time: true,
                            limit: 2,
                            replies: true
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>