<div id="sidebar-about" class="span3 sidebar group">
    <div class="widget-first widget recent-posts">
        <h3>Kategori Produk</h3>

        <div class="featured-projects-widget flexslider">
            <ul class="slides">
                <li>
                    <div class="thumb-project">
                        <a href='/media/uploads/product/category/btl_beverages.png'>
                            <img width="320" height="154" src="/media/uploads/product/category/btl_beverages.png" width="210px" height="210px" class="attachment-featured_project_thumb" alt="001_mini" />
                        </a>
                    </div>
                    <h4><a href="/item/product_item/2">Minuman Ringan</a></h4>
                </li><li>
                    <div class="thumb-project">
                        <a href='/media/uploads/product/category/btl_food.png'>
                            <img width="320" height="154" src="/media/uploads/product/category/btl_food.png" width="100p%" class="attachment-featured_project_thumb" alt="001_mini" />
                        </a>
                    </div>
                    <h4><a href="/item/product_item/4">Jar dan Saus</a></h4>
                </li><li>
                    <div class="thumb-project">
                        <a href='/media/uploads/product/category/gbr_bir.png'>
                            <img width="320" height="154" src="/media/uploads/product/category/gbr_bir.png" class="attachment-featured_project_thumb" alt="001_mini" />
                        </a>
                    </div>
                <h4><a href="/item/product_item/3">Minuman Beralkohol</a></h4>
                </li><li>
                    <div class="thumb-project">
                        <a href='/media/uploads/product/category/gbr_botol_parma.png'>
                            <img width="320" height="154" src="/media/uploads/product/category/gbr_botol_parma.png" class="attachment-featured_project_thumb" alt="001_mini" />
                        </a>
                    </div>
                <h4><a href="/item/product_item/1">Farmasi</a></h4>
                </li><li>
                    <div class="thumb-project">
                        <a href='/media/uploads/product/category/gbr_cosmetic.png'>
                            <img width="320" height="154" src="/media/uploads/product/category/gbr_cosmetic.png" class="attachment-featured_project_thumb" alt="001_mini" />
                        </a>
                    </div>
                <h4><a href="/item/product_item/5">Kosmetik</a></h4>
                </li>
            </ul>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var animation = $.browser.msie || $.browser.opera ? 'fade' : 'slide';
                $('.featured-projects-widget').flexslider({
                    animation: animation,
                    slideshowSpeed: 5000,
                    animationSpeed: 300,
                    directionNav: false,
                    slideshow: true,

                    pauseOnAction: false,
                    controlNav: false,
                    touch: true
                });
            });
        </script>
    </div>

    <div class="widget-2 widget-last widget featured-projects">
        <h3>Berita Terakhir</h3>

        <div class="recent-post group">
            <div class="hentry-post group">
                <div class="thumb-img">
                    <img width="55" height="55" src="/media/static/images/slider/23-55x55.jpg"
                         class="attachment-blog_thumb wp-post-image" alt="23"/>
                </div>
                <div class="text">
                    <a href="blog-detail.html" title="This is the title of the first article. Enjoy it." class="title">
                        This is the title of the first article. Enjoy it.
                    </a>

                    <p class="post-date">October 8, 2012 - 0 comments</p>
                </div>
            </div>
            <div class="hentry-post group">
                <div class="thumb-img">
                    <img width="55" height="55" src="/media/static/images/blog/imgbloh-55x55.jpg"
                         class="attachment-blog_thumb wp-post-image" alt="imgbloh"/>
                </div>
                <div class="text">
                    <a href="#" title="Nice &amp; Clean. The best for your blog!" class="title">
                        Nice &amp; Clean. The best for your blog!
                    </a>

                    <p class="post-date">September 12, 2012 - 0 comments</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-info-2" class="widget-first widget contact-info">
        <h3>Kontak info</h3>

        <div class="sidebar-nav">
            <ul>
                <li>
                    <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Address : Jl. Kapten Darmosugondho, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								Segoromadu Gresik 61153</span>
                </li>
                <li>
                    <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Mobile &nbsp&nbsp: +6231-3974484</span>
                </li>
                <li>
                    <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Fax &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: +6231-3974483</span>
                </li>
                <li>
                    <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Email &nbsp&nbsp&nbsp: <a href="mailto:iglas031@rad.net.id">iglas031@rad.net.id</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-2" class="widget-2 widget-last widget widget_text">
        <h3>I&#8217;m social</h3>

        <div class="textwidget">Terima kasih telah bekerja sama dengan perusahaan kami, PT. IGLAS Persero. untuk
            mengetahui akun kami di sosial media yang lain silahkan ikuti link berikut :
            <br/><br/>

            <a href="# " class="socials-small facebook-small" title="Facebook">facebook</a>

            <a href="#" class="socials-small rss-small" title="Rss">rss</a>

            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>

            <a href="#" class="socials-small google-small" title="Google">google</a>

            <a href="#" class="socials-small linkedin-small" title="Linkedin">linkedin</a>

            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a></div>
    </div>
</div>