{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block left %}
<div id="column-left">
        <!--Account Links Start-->
        <div class="box">
          <div class="box-heading">Account</div>
          <div class="box-content">
            <ul class="list-item">
              {% if user.is_authenticated %}{% if user.is_staff %}
              <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}">Dashboard</a></li>{% endif %}
              <li><a href="/account/logout">Logout ({{user}})</a></li>{% else %}
              <li><a href="/account/login">Login</a></li>
              <li><a href="/account/register">Register</a></li>{% endif %} 
              <li><a href="/account/resetpassword">Forgotten Password</a></li>
              <li><a href="/account/profil">My Account</a></li>
              <li><a href="/account/editprofil"> Edit Account</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Transaksi</a></li>
            </ul>
          </div>
        </div>
        <!--Account Links End-->
        
        <!--Latest Product End-->
      </div>
{% endblock %}
{% block content %}
    <div class="page type-page status-publish hentry group">
        <div class="tabs-container">
            <ul class="tabs">
                <li><h4><a href="#tab1" title="Change_Username"><i class="icon-group" style="color:#000;font-size:20px;width:20px;height:20px"></i> Reset Password</a></h4></li>
            </ul>

            <div class="border-box group">
                <div id="tab1" class="panel group">
    {% blocktrans %}<div align="center">
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.{% endblocktrans %}
<br><br>
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Reset password"  %}" /></td></tr>
</table>
</form><br><br><br><div class="clear"></div></div></div></div></div></div>
{% endblock %}

{% block sidebar %}
    <div id="contact-info-2" class="widget-first widget contact-info">
        <h3>Kontak info</h3>

        <div class="sidebar-nav">
            <ul>
                <li>
                    <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Address : Jl. Kapten Darmosugondho, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								Segoromadu Gresik 61153</span>
                </li>
                <li>
                    <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Mobile &nbsp&nbsp: +6231-3974484</span>
                </li>
                <li>
                    <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Fax &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: +6231-3974483</span>
                </li>
                <li>
                    <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Email &nbsp&nbsp&nbsp: <a href="mailto:iglas031@rad.net.id">iglas031@rad.net.id</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-2" class="widget-2 widget-last widget widget_text">
        <h3>I&#8217;m social</h3>

        <div class="textwidget">Terima kasih telah bekerja sama dengan perusahaan kami, PT. IGLAS Persero. untuk
            mengetahui akun kami di sosial media yang lain silahkan ikuti link berikut :
            <br/><br/>

            <a href="# " class="socials-small facebook-small" title="Facebook">facebook</a>

            <a href="#" class="socials-small rss-small" title="Rss">rss</a>

            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>

            <a href="#" class="socials-small google-small" title="Google">google</a>

            <a href="#" class="socials-small linkedin-small" title="Linkedin">linkedin</a>

            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a></div>
    </div>
{% endblock %}
{% block primary %}

    <div id="page-meta" class="container">

        <!-- TITLE -->
        <div class="title">
            <h1>Reset Password</h1>
        </div>

        <!-- BREDCRUMB -->
        <div class="breadcrumbs">
            <p id="yit-breadcrumb" itemprop="breadcrumb">
                <a class="home" href="/">Home</a> &gt;
                <a class="no-link current" href="#">Reset Password</a>
            </p>
        </div>
    </div>
    <!-- END PAGE META -->
{% endblock %}