{% extends "base.html" %}

{% block primary %}

    <div id="page-meta" class="container">

        <!-- TITLE -->
        <div class="title">
            <h1>Register</h1>
        </div>

        <!-- BREDCRUMB -->
        <div class="breadcrumbs">
            <p id="yit-breadcrumb" itemprop="breadcrumb">
                <a class="home" href="/">Home</a> &gt;
                <a class="no-link current" href="#">Register</a>
            </p>
        </div>
    </div>
    <!-- END PAGE META -->
{% endblock %}
{% block sidebar %}
    <div id="contact-info-2" class="widget-first widget contact-info">
        <h3>Kontak info</h3>

        <div class="sidebar-nav">
            <ul>
                <li>
                    <i class="icon-map-marker" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                                <span>Address : Jl. Kapten Darmosugondho, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								Segoromadu Gresik 61153</span>
                </li>
                <li>
                    <i class="icon-phone" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Mobile &nbsp&nbsp: +6231-3974484</span>
                </li>
                <li>
                    <i class="icon-print" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Fax &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: +6231-3974483</span>
                </li>
                <li>
                    <i class="icon-envelope" style="color:#000;font-size:12px;width:12px;height:12px"></i>
                    <span>Email &nbsp&nbsp&nbsp: <a href="mailto:iglas031@rad.net.id">iglas031@rad.net.id</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="text-2" class="widget-2 widget-last widget widget_text">
        <h3>I&#8217;m social</h3>

        <div class="textwidget">Terima kasih telah bekerja sama dengan perusahaan kami, PT. IGLAS Persero. untuk
            mengetahui akun kami di sosial media yang lain silahkan ikuti link berikut :
            <br/><br/>

            <a href="# " class="socials-small facebook-small" title="Facebook">facebook</a>

            <a href="#" class="socials-small rss-small" title="Rss">rss</a>

            <a href="#" class="socials-small twitter-small" title="Twitter">twitter</a>

            <a href="#" class="socials-small google-small" title="Google">google</a>

            <a href="#" class="socials-small linkedin-small" title="Linkedin">linkedin</a>

            <a href="#" class="socials-small pinterest-small" title="Pinterest">pinterest</a></div>
    </div>
{% endblock %}

{% block content %}
    <div class="page type-page status-publish hentry group">
        <h2>Registrasi Sukses !</h2>

        <h3>Terima Kasih telah melakukan registrasi,</h3>

        <h5>silahkan tunggu konfirmasi dari kami untuk aktivasi account anda. </h5><br><br><br>


        <p>anda akan dibawa ke halaman utama dalam waktu 5 detik.</p>

    </div>
{% endblock %}
{% block extrastyle %}
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "/";
        }, 5000);
    </script>
{% endblock %}