{% extends "base.html" %}

{% block primary %}
    <!-- START MAP -->
    <div id="page-meta" class="container">

        <!-- TITLE -->
        <div class="title">
            <h1>Berita Terkini</h1>
        </div>

        <!-- BREDCRUMB -->
        <div class="breadcrumbs">
            <p id="yit-breadcrumb" itemprop="breadcrumb">
                <a class="home" href="/">Home</a> &gt;
                <a class="no-link current" href="#">About</a> &gt;
                <a class="no-link current" href="#">News</a>
            </p><hr>
        </div>
    </div>
    <!-- END PAGE META -->
{% endblock %}
{% block sidebar %}
    {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="page type-page status-publish hentry group">
        <div class="tabs-container">
            <ul class="tabs">
                <li><h4><a href="#tab1" title="Registrasi"><i class="icon-group" style="color:#000;font-size:20px;width:20px;height:20px"></i> Berita Terkini</a></h4></li>
            </ul>
            <div class="border-box group">
                <div id="tab1" class="panel group">
                    {% if berita %}
                        {% for news in berita %}
                    <h2><a href="/news/{{ news.slug }}"> {{ news.title  }}</a></h2>
                    <p>dipublikasikan pada {{ news.pub_date }}</p>
                    <p>
                        {{ news.content|safe }}
                    </p>
                    <p>diupdate pada {{ news.update }}</p>
                        {% endfor %}
                    {% else %}
                    <h2 align="center">Maaf Tidak Ada Berita.</h2>
                    <center><img width="200px" height="180" src="{{ MEDIA_URL }}/uploads/images/news.png"></center>
                    {% endif %}<br>
                </div></div></div></div>
{% endblock %}
{% block extrastyle %}
{% endblock %}