{% extends "base.html" %}
{% block sidebar %}
    {% include "includes/sidebar.html" %}
{% endblock %}
{% block primary %}

    <div id="page-meta" class="container">

        <!-- TITLE -->
        <div class="title">
            <h1>Kategori</h1>
        </div>

        <!-- BREDCRUMB -->
        <div class="breadcrumbs">
            <p id="yit-breadcrumb" itemprop="breadcrumb">
                <a class="home" href="/">Home</a> &gt;
                <a class="no-link current" href="#">Item </a>>
                <a class="no-link current" href="#">Kategori</a>
            </p><hr>
        </div>
    </div>
    <!-- END PAGE META -->
{% endblock %}
{% block content %}
    <div class="page type-page status-publish hentry group">

        <div class="tabs-container">

            <ul class="tabs">
                <li><h4><a href="#tab1" title="Welcome"><i class="icon-home" style="color:#000;font-size:20px;width:20px;height:20px"></i> Kategori</a></h4></li>
            </ul>

            <div class="border-box group">
                <div id="tab1" class="panel group">
                    {% for item in item %}
                        <div class="row">
                            <ul id="portfolio" class="slide-detail detail thumbnails">
                                <li  class="filterable_item span3 brandidentity  logodesign  webdesign  first">

                                    <div class="ch-item ch-item-hover" style="background: url('{{ MEDIA_URL }}{{ item.image }}')  no-repeat center;">

                                        <div class="ch-info">
                                            <div class="ch-info-icons">
                                                <a href="{{ MEDIA_URL }}{{ item.image }}" rel="lightbox" class="ch-info-lightbox">
                                                    <img src="/media/static/images/icons/zoom.png" alt="Open Lightbox" />
                                                </a>
                                                <a href="/item/product_item/{{ item.id }}" class="open_slide">
                                                    <img src="/media/static/images/icons/project.png" alt="" />
                                                </a>
                                            </div>


                                            <div class="ch-info-text">
                                                <p class="title">{{ item.type }}</p>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul></div>{% endfor %}
                </div></div></div></div>

{% endblock %}